.ant-carousel {
  .slick-next {
    &::before {
      content: '';
    }
  }

  .slick-prev {
    &::before {
      content: '';
    }
  }
}

.ant-row {
  background-color: #dad2b4;
}

.ant-col-16 {
  max-width: 70%;
}




