.ghe {
    width: 35px;
    height: 35px;
    background: #dad2b4;
    margin: 3px;

    &.gheVip {
        background-color: burlywood;
    }

    &.dangDat {
        background-color: mediumaquamarine;
    }

    &.daDat {
        cursor: not-allowed;
        background-color: #856307;
    }

}