.navbar {
    background-color: #dad2b4 ;
}

.navbar-collapse {
    ul li {
        margin-left: 20px;
        font-size: 14px;
        font-weight: bold;
    }
}

.nav-header {
    color: gray;
}

.active {
    color: #856307 !important;
}

.active::after {
    transform: scaleX(1) !important;
}

.nav-header:hover {
    color: #856307 !important;
}

.nav-header::after {
    content: "";
    width: 100%;
    height: 2px;
    display: block;
    background-color: black;
    transform: scaleX(0);
    transition: 0.2s;
}

.nav-header:hover::after {
    transform: scaleX(1);
}

#showCartBtn {
    position: relative;

    .numCartItem {
        text-align: center;
        padding-top: 1px;
        width: 18px;
        height: 18px;
        background-color: #eb0028;
        position: absolute;
        font-size: 11px;
        font-weight: 700;
        line-height: 15px;
        top: 0;
        right: 20px;
        color: white !important;
        border-radius: 15px;
    }
}