.moveek-footer {
  background-color: #1a1a1a;
  color: #999;
  padding: 3rem 0;
  margin-top: 2rem;
  font-family: "Roboto", sans-serif;

  .footer_inner {
    width: 75%;
    margin: 0 auto;

    @media (max-width: 1200px) {
      width: 90%;
    }

    @media (max-width: 500px) {
      width: 100%;
      padding: 0 2rem;
      box-sizing: border-box;
    }
  }

  /* =========================
     LOGO
  ========================= */

  img {
    display: block;
    width: auto;
    max-width: 45vw;
    height: auto;
    margin-bottom: 1rem;
  }

  /* =========================
     FOOTER LINK
  ========================= */

  .footer_link {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0 0 1.5rem;

    gap: 2.5rem;

    li {
      position: relative;

      &:not(:last-child)::after {
        content: "";

        position: absolute;
        right: -1.25rem;
        top: 50%;

        width: 0.1rem;
        height: 1.2rem;

        background-color: #444;

        transform: translateY(-50%);
      }

      a {
        color: #bbb;
        font-size: 1.4rem;
        font-weight: 400;

        text-decoration: none;

        transition: color 0.3s ease;

        &:hover {
          color: #fff;
        }
      }
    }

    @media (max-width: 600px) {
      justify-content: start;
      gap: 0.5rem;

      li {
        &:not(:last-child)::after {
          display: none;
        }

        a {
          font-size: 1.3rem;
        }
      }
    }
    
  }

  /* =========================
     COMPANY INFORMATION
  ========================= */

  .company_info {
    margin-top: 1rem;

    p {
      margin: 0 0 0.7rem;

      color: #777;

      font-size: 1.3rem;
      line-height: 1.6;

      &:first-child {
        color: #aaa;
        font-weight: 500;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    @media (max-width: 600px) {      
      p {
        font-size: 1.2rem;
      }
    }
  }

  /* =========================
     COPYRIGHT
  ========================= */

  .copy {
    border-top: 0.1rem solid #333;

    margin: 3rem 0 0;
    padding-top: 2rem;

    color: #555;

    font-size: 1.2rem;
    line-height: 1.5;

    text-align: left;

    @media (max-width: 500px) {
      text-align: center;
      margin-top: 2.5rem;
    }
  }
}