* {
  margin: 0;
  padding: 0;
  font-family: 'Arial', 'Helvetica', 'sans-serif'
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
}

.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  color: #cdc197 !important;
  background: #231f20 !important;
  border-color: #231f20 !important;
}

.ant-radio-button-wrapper:hover {
  color: #cdc197 !important;
}

.ant-radio-button-wrapper:focus-within {
  box-shadow: none !important;
}

.btn-more-infor {
  width: 60%;
  height: 50px;
  bottom: 20px;
  border: 1px solid #c0b687;
  color: #c0b687;
  font-weight: bold;
  background-color: rgba(46, 46, 46, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  font-size: 12px;
  border-radius: 5px;
  margin: 5px;
  outline: none !important;
}
.btn-more-infor:hover 
{
  background-color: rgba(46, 46, 46, 1);
}

h3 {
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px !important;
  font-weight: bold !important;
}

h4 {
  font-size: 12px !important;
}

.container-fluid {
  padding-left: 5% !important;
  padding-right: 5% !important;
}

.overlay {
  background-color: rgba(46, 46, 46, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 350px;
  padding: 25px;
  transition: all .5s;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn-cover{
  background-color: transparent;
  position: absolute;
  top: -111px;
  left: 0;
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
}
.card:hover .overlay {
  opacity: 1;
}
.card:hover .btn-cover {
  top: 40%;
  transform: translateY(-40%);
  display: flex;
}
.TitleCarousel {
  background: #231f20;
  height: 40px;
  display: flex;
  justify-content: center;
  color: aliceblue;
  font-weight: normal;
  margin-bottom: 0;
  align-items: center;
  
}
.TitleCarousel p {
  margin-bottom: 0;
}
.ant-col-16 {
  max-width: 70%;
}